<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <style type="text/css" media="screen">
      canvas {
        cursor: crosshair;
      }
    </style>
  </head>

  <body>
    Игроков на сервере: <%= activePlayers %>
    <form method="get" action="/new_game">
      <div id="size-switcher-container">
        <select name="size" id="size-switcher">
          <option value="19">19</option>
          <option value="13">13</option>
          <option value="9">9</option>
          <option value="7">7</option>
        </select>
      </div>
      <input type="submit">New Game</button>
    </form>

    <div>Список свободных игр</div>
    <form method="get" action="/join_game">
      <select name="game_id" multiple="multiple">
        <% for(var i = 0; i < matchesList.length; i++) { %>
          <option value="<%= matchesList[i].id() %>"><%= matchesList[i].name() %></option>
        <% } %>
      </select>
      <br />
      <input type="submit" value="Присоедениться">
    </form>

  </body>
</html>

